<h1> Transactions for <%= user.username %> </h1>

  <div class="row">
    <div class="col">
      <p> Here is your list of things to do! </p>
    
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th><a class="btn btn-lg btn-primary" href="/transaction/byCategory">group by category</a></th>
            <th><a class="btn btn-lg btn-primary" href="/sortBy?show=sortByCategory">sort by category</a></th>
            <th><a class="btn btn-lg btn-primary" href="/sortBy?show=sortByAmount">sort by amount</a></th>
            <th><a class="btn btn-lg btn-primary" href="/sortBy?show=sortByDescription">sort by description</a></th>
            <th><a class="btn btn-lg btn-primary" href="/sortBy?show=sortByDate">sort by date</a></th>
          </tr>
        </thead>
      </table>
      

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>description</th>
            <th>amount</th>
            <th>category</th>
            <th>date</th>
            <th>delete</th>
            <th>edit</th>
          </tr>
        </thead>
        <tbody>
          <% records.forEach(record => { %>
            <tr>
              <td><%= record.description %></td>
              <td><%= record.amount %></td>
              <td><%= record.category %></td>
              <td><%= record.date %></td>
              <td> <a href="/transaction/remove/<%=record._id%>">
                <i class="bi bi-trash"></i>
              </a></td>
              <td><a 
                href="/transaction/editTransaction/<%=record._id %>">
               <i class="bi bi-pencil-square"></i>
           </a></td>
            </tr>
          <% }) %>
        </tbody>
        </table>

      
      <h1>Add new transaction</h1>
      <form method="post" action="/transaction">
          <input type="text" name="description" placeholder="description">
          <br>
          <input type="number" name="amount" placeholder="amount">
          <br>
          <input type="text" name="category" placeholder="category">
          <br>
          <input type="date" name="date" placeholder="mm/dd/yyyy">
          <br>
            <input type="submit" value="store">
      </form>
    </div>
</div>
